@tailwind base;
@tailwind components;
@tailwind utilities;



.animate-slideInRight {
  animation: slideInRight 0.5s forwards;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
